@model TallinnaRakenduslikKolledz.Models.Department
@{
	ViewData["Title"] = "Vaata rohkem";
}
<!-- Details -->
@if (ViewBag.DeleteAndDetails == "Details")
{
	<p>
		<h3>Osakonna andmed</h3>
	</p>
}
<!-- Delete -->
@if (ViewBag.DeleteAndDetails == "Delete")
{
	<p>
		<h3>Kustuta osakond</h3>
	</p>
}

<h2>@Html.DisplayFor(modelItem => Model.Name)</h2>
<div>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Name)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.Name)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.DepartmentID)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.DepartmentID)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Budget)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.Budget)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.StudentsCount)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.StudentsCount)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.CurrentStatus)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.CurrentStatus)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.InstructorID)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.InstructorID)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.Administrator)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.Administrator)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(Model => Model.StartDate)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(Model => Model.StartDate)</dt>
	</dl>
	@if (ViewBag.DeleteAndDetails == "Delete")
	{
		<form asp-action="Delete">
			<input type="hidden" asp-for="DepartmentID" />
			<input type="hidden" asp-for="RowVersion" />
			<input type="submit" value="Kustuta" class="btn btn-danger" /> | <a asp-action="Index">Tühista</a>
		</form>
	}
</div>




